
#loader {
    overflow: hidden;
}

#loader-container {
    display:flex; 
    justify-content : center; 
    align-items:center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    pointer-events: none;
    transition: opacity .5s ease;
    opacity: 0;
}

#loader-bar {
     
    background-color : black;
    height : .05rem;
    flex-grow: 1;
    box-shadow: 0px 0px .5rem #e4e4e4;
    width: 100%;
    transition: all .3s ease 0s;
    transform: translateX(-100%);
}

#useChrome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.loading-text {
    font-size:2em;
    margin-bottom:.4rem;
}

#useChrome img{
    width : 5rem;
    height: 5rem;
}