
.hype {
    font-family: inherit;
    font-size: inherit;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.33);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hype span {
    margin-bottom: -.1em;
}

.hype i {
    margin-right: .5em;
    font-size: .8em;
}

button.hype {
    color: #DDD;
    background-color: #333;
    transition: color .33s ease, background-color .33s ease;
    padding: .25rem;
}

button.hype:hover {
    background-color: #EEE;
    color : #333;
}


input[type="submit"].hype {
    color : #162f0ed6;
    transition: color .5s ease, box-shadow .5s ease;
    margin-bottom: 1rem;
}


input[type="submit"].hype:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.5);
    color : green;
}