
#albumInfos {
    min-width: 1.3rem;
    min-height: 1.3rem;
    background-color: rgb(248, 248, 248);
    transition: all .4s ease-in 0s;

}

#albumInfos:not(.show) {
    animation: flickerAnimation 2s infinite ease;
}

#albumInfos.show {
    background-color: white;
    padding: 1rem;
    flex-grow: 1;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    z-index: 1;
    position: relative;
    align-self: stretch;
}

#albumInfos label {
    color : rgba(0, 0, 0, 0.6);
    font-size: .8rem;
}

#albumInfos label > *{
    color : white;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#albumInfos .imgLoader {
    box-shadow : rgba(255, 255, 255, .25) 0px 0px 13px 1px;
    font-size: .6rem;
    display: flex;
}

#albumInfos .imgLoader:not(.searchingCover) {
    width: 20vw;
}

#albumInfos .imgLoader, 
#albumInfos .imgLoader img {
    min-width: 250px;
    min-height: 250px;
}

#albumInfos .imgLoader.noImgFound::before {
    content : ":'( \A\A " attr(data-no-cover-found);
}



#albumInfos .aiContent {
    display: none;
}

#albumInfos.show .aiContent {
    display: flex;
    flex-direction: column;
    color : #f5f5f5;
}

#albumInfos .hInfos{
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;
}

#albumInfos .hMisc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#albumInfos .hMisc ol {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding-left: 1.1rem;
}

#albumInfos .imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#albumInfos .imgContainer > div {
    margin-bottom:.5rem
}

#albumInfos:not(.show){
    position: absolute;
    right:2rem;
    margin-top: .2rem;
}

#albumInfos .listen {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: auto;
    padding: .5rem;
    padding-top: 2rem; 
}

#albumInfos .listen > a {
    background-color: #efefef;
    padding : .5rem;
    box-shadow : 0px 0px 5px 0px #afafaf;
    color : grey;
}

#albumInfos .listen a{
    transition: all .4s;
}

#albumInfos .listen > a:hover {
    color : black;
}

#albumInfos .listen > a:hover i {
    color : red;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:.5; }
    100% { opacity:1; }
  }
