#connectContainer {
    height:100vh;
    max-width: 0;
    display:flex; 
    align-items:center;
    flex-direction:column; 
    justify-content:center;
    position:relative;
    transition: padding .5s ease, background-color .5s ease, max-width .5s ease;
}

#connectContainer.anima {
    background-color: rgba(0,0,0,.1);
    padding: 0 1rem;
    max-width: 100%;
}

#xmlRLoader {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: all .3s ease;
    transition-delay: .25s;
    opacity: 0;
    position: relative;
    animation-fill-mode: forwards;
}

#wtnz-connect > *:not(video) {
    z-index: 1;
}

#wtnz-connect > video {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity .5s ease;
}

#wtnz-connect > video.show {
    opacity: 1;
}

#wtnz-connect .loginRack {
    margin:.5rem; 
    display:flex; 
    flex-direction:column;
}

#accountManagement {
    display:flex;
}

#accountManagement a {
    -webkit-appearance: button;
    appearance: button;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75rem;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    color: initial;
}

#accountManagement a:not(:first-child) {
    margin-top: 1rem;
}