#connectContainer {

    display:flex;
    flex-direction: column;
    align-items: center;
    
    height:100vh;
    max-width: 0;
    position:relative;
    transition: background-color .5s ease, max-width .5s ease;
    overflow: hidden;
    overflow-y: auto; 
}

#connectContainer::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#connectContainer > *:first-child {
    margin-top: auto !important;
}


#connectContainer > *:last-child {
    margin-bottom: auto !important;
}

#connectContainer .logoContainer {
    background-color: rgba(255,255,255,.5);
    padding: 0 1rem;
    width: 100%;
    text-align: center;
}

#connectContainer.anima {
    background-color: rgba(0,0,0,.25);
    max-width: 100%;
    border-right: 1px solid rgba(255,255,255,.5);
    border-left: 1px solid rgba(255,255,255,.5);
}

#connectContainer .logo {
    font-size:4rem;
}

#wtnz-connect > * {
    z-index: 1;
}
