.sorter {
    position: absolute;
    color :grey;
    font-size: .8rem;
    
    left: 4rem;
    top: 4rem;
}

.filterUI {
    position: relative; 
    transition: all .3s ease;
    margin: 1rem 0 0 .7rem;
    display: flex;
    flex-direction: column;
    min-height: 1rem;
}

.filterUI:not(.active) {
    display: none;
}

.filterUI:last-child {
    margin-right:1rem;
    margin-bottom:1rem;
}

.filterUI .ph {
    position: absolute;
    z-index: 20;
    transition: transform .3s ease;
    cursor: pointer;
}

.filterUI .list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.filterUI .list span[data-count]::after {
    content: attr(data-count);
    font-size: .6rem;
    color: grey;
    vertical-align: middle;
    margin-left: .25rem;
}

#albumUI.filterUI .list span[data-count]::after {
    content: "- " attr(data-count);
    font-size: .8rem;
}

.filterUI .list > * {
    color : rgba(29, 29, 29, 1);
    position: relative;
    cursor: pointer;
    transition: transform .3s ease;
}

.filterUI .list > *:hover, .filterUI .ph:hover {
    transform: translate(.35rem, 0);
}

.filterUI.hasSelection .list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition:transform .5s ease 0s;
    opacity: .1;
}

.filterUI.hasSelection .ph {
    position: relative;
    width:fit-content;
}

.filterUI.hasSelection .list .selected {
    color : rgba(0, 0, 0, 1);
}

.filterUI.hasSelection .list .selected::after, 
.filterUI.hasSelection .ph::after {
    content: "\00BB";
}

.filterUI.hasSelection.open .list {
    position: relative;
    transform: scale(1);
    opacity: 1;
}

.filterUI.hasSelection.open .ph {
    position: absolute;
}

.filterUI.hasSelection .list > * {
    color : rgba(0, 0, 0, .25);
}


.filterUI.open .ph {
    color : rgba(0, 0, 0, 0);
    z-index: -1;
}

.filterUI.active::before {
    content : attr(data-sl);
    font-size: .65em;
    color : grey;
    position: absolute;
    top : -.9rem;
    left : -.3rem;
    z-index: 30;
}

.filterWrapper {
    display: flex;
    margin:0;
}