.filterUI {
    margin-right: .75rem;
    position: relative; 
    transition: all .3s ease;
    flex-shrink: 0;
    margin-top: .9rem;
}


.filterUI.hasSelection:not(:hover) {
    max-height: 1rem;
}

.filterUI .ph {
    position: absolute;
    z-index: 20;
    white-space: nowrap;
}

.filterUI .list > div {
    color : rgba(0, 0, 0, 1);
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}

.filterUI.hasSelection .list > div {
    color : rgba(0, 0, 0, .25);
}

.filterUI .list > div:hover {
    transform: translate(.35rem, 0);
}

.filterUI.hasSelection .list{
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition:transform .5s ease 0s;
    opacity: .1;
}

.filterUI.hasSelection .list .selected {
    color : rgba(0, 0, 0, 1);
}

.filterUI.hasSelection .list .selected::after {
    content: " \00BB";
}

.filterUI.hasSelection:hover .list{
    transform: scale(1);
    opacity: 1;
}

.filterUI:hover .ph {
    color : rgba(0, 0, 0, 0);
    z-index: -1;
}

.filterUI.active::before {
    content : attr(data-sl);
    font-size: .65em;
    color : grey;
    position: absolute;
    top : -.9rem;
    left : -.3rem;
    z-index: 30;
}