footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #dcdcdc;
    margin-bottom: .5rem;
}

#credits {
    display: flex;
    align-items: center;
    background-color : white;
    padding: .35rem;
    font-size: .65rem;
    color : #525252;
    align-self: flex-end;
    margin-right: 5%;
}

#credits a, #credits img {
    width: .75rem;
    height: .75rem;
}