
.logo {
    font-size: 2.5rem; /*rel*/
    position: relative;
    padding-left: .35em;
    padding-right: .6em;
}

.logo::after {
    content : "\00A9";
    font-size: .4em;
    position : absolute;
    top : 47%;
    right : 10%;
}

.logo::before {
    content : "WTNZ";
}

.fctr {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f7f7f7;
}

#menu {
    flex-direction:row; 
    display:flex;
    width: 100%;
    align-items : center;
}

#banner {
    flex-grow:1; 
    display: flex; 
    flex-direction: row; 
    align-items:center;
    padding : .35rem 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banner > *{ 
    margin : .2rem 1rem;
}

#banner-desc {
    flex-grow: 1;
    font-size: .8rem;
    text-align: center;
}

#banner-desc .username {
    color : #EEEEEE;
}

#banner-desc .library {
    color : rgba(0, 0, 0, 0.65);
}

#banner-side {
    flex-grow: 10000;
    display: flex;
    font-family: sans-serif;
    font-size: .5rem;
    color: white;
    justify-content: space-between;
}

#banner-side > * {margin : 0 .25rem; display: flex; align-items: center;}
#banner-side > *:first-child {margin-left : 0;}
#banner-side > *:last-child {margin-right : 0;}

#banner-side i {
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px .5rem #e0e0e0;
    z-index: 10;
    flex-shrink: 0;
    position: relative;
    top : 0;
    width: 100%;
    transition: all .2s ease 0s;
}

header.toHide {
    transform: translateY(-100%);
}


header.sticky {
    position: -webkit-sticky;
    position: sticky;
}
