
.imgLoader, .imgLoader img {
    transition: all .3s ease;
    border-radius: .5em;
    background-color : white;
     
}

.imgLoader img {
    width: 100%;
    height: 100%;
}

.imgLoader::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: pre;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color : grey;
    background-color : white;
    border-radius: .5em;
    z-index: 100;
    transition: all .3s ease;
}

.imgLoader.searchingCover::before {
    background-image : url(/wtnz/front/assets/img/loader.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    content : "";
}

.imgLoader.fo::before {
    opacity: 0;
}

.imgLoader.noImgFound::before {
    content : ":'(";
}