
#searchBand {
    flex-grow: 9001000;
    display: flex;
    justify-content: center;
    margin-top: .35rem;
    margin-bottom: .35rem;
}

#searchBand input {
    padding : 0.5rem;
    flex : 1;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    border : none;
    width: 100%;
    box-sizing: border-box;
    opacity : .8;
}

#searchBand input:focus {
    opacity: 1;
}

#searchBand input::-ms-clear {
    display: none;
}

#searchBand input:hover, #searchBand input:focus, .searchResults {
    box-shadow : 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
    outline: none;
}

#searchBand .search {
    position : relative;
    flex-grow: 1;
    display: flex;
    min-width: 12rem;
}

#searchBand .search[data-ef]::after {
    content: attr(data-ef) ' ' attr(data-found);
    position: absolute;
    right : .2rem;
    top : .5rem;
    font-family: Arial;
    font-size: .5rem;
    color : grey;
}

#searchBand .searchResults {
    width : 100%;
    width : -moz-available;          /* WebKit-based browsers will ignore this. */
    width : -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    background-color : white; 
    position : absolute; 
    top : 1.65rem;
    z-index: 50;
    display: none;
    transition: all .3s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial;
    max-height: 10rem;
    padding: .5rem
}

/*no results*/
#searchBand .searchResults .nr {
    color: grey;
    text-align: center;
}

#searchBand .searchResults .result {
    padding: 0 .5rem 0 .5rem;
    cursor : pointer;
    transition: all .2s;
}

#searchBand .searchResults .result:hover,
#searchBand .searchResults .result:focus
 {
    transform: translate(.15rem, 0);
    background-color: rgba(128, 128, 128, 0.05); 
}

/**/
#searchBand .searchResults span {
    color: grey;
    font-size: .75rem;
}

/*found part*/
#searchBand .searchResults span.f{
    color: #666666;
    font-weight: bold;
}

/**/
#searchBand .searchResults span.g{
    font-size: 0.5rem;
}

#searchBand .searchResults.show {
    display:block;
}