#shoutContainer {
    background-color: #e0e0e0; 
    z-index: 500;
    transition: max-height .3s ease;
    overflow: hidden;
    position: relative;
}

#shoutContainer .shout {
    padding: .75rem 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#shoutContainer .cover {
    font-size: .5rem;
    box-shadow:0px 0px 10px #a9a9a9;
    z-index: 1;
}

#shoutContainer .cover, #shoutContainer .cover img {
    width:2rem;
    height:2rem; 
    background-color:white;
}

#shoutContainer .cover i {
    opacity: 0;
    z-index: 5000;
    top : .5em;
    left : .5rem;
    position: absolute;
    color : red;
    transition: all .3s ease;
    font-size: 1rem;
}

#shoutContainer .cover:hover i {
    opacity: 1;
}

#shoutContainer .cover {
    transition: all .3s ease;
    position: relative;
}

#shoutContainer .albumDesc {
    margin: 0 .5rem;
    z-index: 1;
}

#shoutContainer .albumDesc .meta {
    font-size: .7rem;
}

#shoutContainer .timeline {
    width: 100%;
    height: .1rem;
    position: absolute;
    z-index: 0;
    left:0;
    bottom:0;
    opacity: .1;
    background-color : black;
    transition: all .1s ease;
}

.animTimeline {
    animation-name: progress;
    animation-timing-function: linear;
}

#shoutContainer:hover .timeline {
    height: 100%;
}

#shoutNotification {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    z-index: 20;
    transition: all .5s ease;
    overflow: hidden;
}

#shoutNotification.fade {
    height:0;
}

#shoutNotificationOut {
    position: fixed;
    z-index: 1000;
    right : -2rem;
    top: 4.25rem;
    padding: .15rem .25rem;
    background-color: white;
    opacity: .5;
    overflow: hidden;
    font-size: .7rem;
}

#shoutNotificationOut.show {
    animation-name: progNotOut;
    animation-duration: 2s;
}

#shoutContainer .mute{
    opacity: 0;
    transition: all .3s ease;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    font-size: .7rem;
}

#shoutContainer:hover .mute{
    opacity: 1;
}

@keyframes progress {
    0% {
        width : 0%;
    }
    100% {
        width : 100%;
    }
}

@keyframes progNotOut {
    0% {
        right : -2rem;
    }
    30%, 70% {
        right : 0;
    }
    100% {
        right : -2rem;
    }
}