#shoutContainer {
    background-color: #e0e0e0; 
    z-index: 500;
    transition: max-height .3s ease;
    overflow: hidden;
}

#shoutContainer .shout {
    padding: .5rem;
}

#shoutContainer .cover {
    width:2rem;
    height:2rem; 
    background-color:white;
}