#stats {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 400px;

    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

#statsContainer {
    background-color: #f9f9f9;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    flex-shrink: 0;
}

#statsSwitcher {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 1rem 0;
}

#statsSwitcher input {
    margin:0 3px;
}
