#stats {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 400px;
    margin-top: 1rem;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

#statsContainer {
    background-color: #f9f9f9;
    position: relative;
    transition: all 0.3s ease 0s;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0px 0px 0.05rem #b7b7b7;
}

#statsSwitcher {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 1.5rem 0;
}

#statsSwitcher > :first-child {
    margin-right:1.5rem;
}

#statsSwitcher > * {
    display: flex;
    align-items: center;
}

#statsSwitcher input {
    margin:0 3px;
}

#statsContainer::before {
    content : attr(data-cat) " ||";
    color : grey;
    font-size : 1.5em;
    white-space : nowrap;
    position : absolute;
    top : 2rem;
    left : 2.7rem;
}