#stats {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 400px;
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity .5s ease;
}

#statsContainer {
    background-color: #f9f9f9;
    box-shadow: 0px 0px .05rem #b7b7b7;
}

#statsContainer .subContent {
    align-items: initial;
}

#statsContainer .subContent::before {
    position : absolute;
}

.statsWrapper {
    display:flex; 
    flex-direction:column; 
    flex:1;
    
}


#statsSwitcher {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 1.5rem 0;
    font-size: 1rem;
}

#statsSwitcher > :first-child {
    margin-right:1.5rem;
}

#statsSwitcher > * {
    display: flex;
    align-items: center;
}

#statsSwitcher input {
    margin:0 3px;
}

/*fix (https://github.com/highcharts/highcharts/issues/4649)*/
.highcharts-container, .highcharts-container svg { width: 100% !important; }