@font-face {
    font-family: bebasNeueFont;
    src: url(../fonts/BebasNeue-Regular.otf);
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

:root {
    font-size: 24px;
    font-family: bebasNeueFont;
}

html {
    height: 100%;
    display: flex;
    overflow: hidden;
}

body {
    margin:0;
    display:flex; 
    width : 100%;
}

* {
    user-select : none;
    -ms-user-select : none;
}

#logo {
    font-size: 2.5rem;
    background-color: #efefef;
    position: relative;
    padding-left: 0.8rem;
    padding-right: 1.5rem;
}

#logo::after {
    content : "\00A9";
    font-size: 1rem;
    position : absolute;
    top : 47%;
    right : 10%;
}

.fctr {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#wtnz {
    width: 100%;
    opacity: 0;
    background-color: rgb(239, 238, 238);
    display: flex;
    flex-direction: column;
}

#banner {
    flex-grow:1; 
    display: flex; 
    flex-direction: row; 
    align-items:center;
    padding : 0 .5em;
}

#banner-desc {
    font-size: 0.8rem;
    padding-left: 0.5rem; 
}

#banner-side {
    display: flex;
    flex-direction: column;
    text-align:right;
    font-family: sans-serif;
    font-size: 0.5rem;
    color: white;
}

#banner-side * {
    vertical-align: middle;
}


#mainFrame {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.subFrame {
    display: flex;
    flex-wrap: wrap;
    margin-left: 6.5rem; 
}

#content {
    padding-top: 2rem;
    padding-left: 1rem;
    z-index: 0;
}

#head {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    box-shadow: 0px 0px 0.5rem grey;
    position: relative;
    z-index: 10;
    flex-shrink: 0;
}

#loader-container {
    position: absolute;
    display:flex; 
    justify-content : center; 
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#loader-bar {
    border-top: 1px solid black;
    height : 1px;
    flex-grow: 1;
    box-shadow: 0px 0px 0.5rem #e4e4e4;
    width: 0%;
    transition: all 1s ease 0s;
}

.subContent {
    display: flex;
    position: relative;
}

.subContent .filterUI.active::before {
    content : attr(data-sl);
    font-size: 0.65em;
    color : grey;
    position: absolute;
    top : -.9rem;
    left : -.3rem;
    z-index: 30;
}

#albumInfos {
    width: 1rem;
    height: 1rem;
    background-color: rgb(248, 248, 248);
    transition: all 0.4s ease-in 0s;

}

#albumInfos:not(.show) {
    animation: flickerAnimation 2s infinite ease;
}

#albumInfos.show {
    width: inherit;
    height: inherit;
    background-color: white;
    padding: 1rem;
    flex-grow: 1;
    margin: 0 60% 3rem 0;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

#albumInfos label{
    color : white;
    font-size: 0.8rem;
}

#albumInfos #aImage {
    width: 150px;
    height: 150px;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background-color: white;
}

#albumInfos .aiContent {
    display: none;
}


#albumInfos.show .aiContent {
    display: flex;
    flex-direction: column;
}

#albumInfos .aiContent .hInfos{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.anim {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
	animation: Gradient 30s linear infinite;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#footer {
    position: fixed;
    bottom: -1.3rem;
    right: 5%;
    background: white; /* fallback */
	background: linear-gradient(135deg, transparent 10px, white 0) top left;
	background-repeat: no-repeat;
    padding: 0.5rem;
    font-size: 0.65rem;
    transition: all 0.3s ease 0s;
}

#footer:hover {
    bottom : 0;
}

#searchBand {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin : 0 1rem;
}

#searchBand input {
    padding : 0.5rem;
    flex : 1;
    box-shadow : 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border : none;
    width: 100%;
    box-sizing: border-box;
}

#searchBand input::-ms-clear {
    display: none;
}

#searchBand input:hover, #searchBand input:focus, .searchResults {
    box-shadow : 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}

#searchBand .search {
    position : relative;
    min-width: 15rem;
    width: 40%;
}

#searchBand .search[data-ef]::after {
    content: attr(data-ef) " found";
    position: absolute;
    right : .2rem;
    top : .2rem;
    font-family: Arial;
    font-size: .5rem;
    color : grey;
}

#searchBand .searchResults {
    width : 100%;
    width : -moz-available;          /* WebKit-based browsers will ignore this. */
    width : -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width : fill-available;
    background-color : white; 
    position : absolute; 
    top : 1.7rem;
    z-index: 50;
    display: none;
    transition: all 0.3s ease 0s;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial;
    padding: 0.5rem;
    max-height: 10rem;
}

/*no results*/
#searchBand .searchResults .nr {
    color: grey;
    text-align: center;
}

#searchBand .searchResults .result {
    cursor : pointer;
    transition: transform .2s;
}

#searchBand .searchResults .result:hover {
    transform: translate(.25rem, 0);
}

/**/
#searchBand .searchResults span {
    color: grey;
    font-size: 0.75rem;
}

/*found part*/
#searchBand .searchResults span.f{
    color: black;
    font-weight: bold;
}

#searchBand .searchResults.show {
    display:block;
}

.subContent::before {
    content : attr(data-cat) " ||";
    color : grey;
    font-size : 1.5em;
    white-space : nowrap;
    position : absolute;
    left : -6.5rem;
}