@font-face {
    font-family: bebasNeueFont;
    src: url(../fonts/BebasNeue-Regular.otf);
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.anim {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
	animation: Gradient 30s linear infinite;
}

input {
    font-size: 0.55rem;
}

:root {
    font-size: 24px;
    font-family: bebasNeueFont, Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    overflow: hidden;
}

body {
    margin:0;
    display:flex; 
    width : 100%;
}

span, div {
    user-select : none;
    -ms-user-select : none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

#wtnz {
    width: 100%;
    opacity: 0;
    background-color: rgb(239, 238, 238);
    display: flex;
    flex-direction: column;
}

#mainFrame {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
    scroll-behavior : smooth;
    padding: 14px; /*padding for scroll integration*/
}

.subFrame {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem; 
    position: relative;
}

.subContent {
    display: flex;
    position: relative;
}

#footer {
    position: fixed;
    bottom: -1.3rem;
    right: 15%;
    background: white; /* fallback */
	background: linear-gradient(135deg, transparent 10px, white 0) top left;
	background-repeat: no-repeat;
    padding: .5rem;
    font-size: .65rem;
    transition: all .3s ease 0s;
    color : #525252;
}

#footer:hover {
    bottom : 0;
}

input[type="checkbox"], input[type="radio"]{
    display: none;
}

input[type="checkbox"] + i, 
input[type="radio"] + i,
input[type="radio"] + i + span{
    transition: all .3s ease;
    cursor: pointer;
}

input[type="checkbox"]:not(:checked) + i,
input[type="radio"]:not(:checked) + i,
input[type="radio"]:not(:checked) + i + span
 {
    color : rgba(0, 0, 0, .5);
}

[data-cat]::before {
    content : attr(data-cat) " ||";
    color : grey;
    font-size : 1.5em;
    white-space : nowrap;
    position : relative;
    margin: 0 1rem .5rem 1rem;
    width: 7.5rem;
    text-align: right;
}


/*responsiveness*/
@media (max-aspect-ratio: 800/1000) {

    [data-cat]::before {
        width: auto;
        text-align: left;
    }

    #head {
        flex-direction: column;
        align-items: center;
    }

    #logo {
        display: none;
    }

    #banner {
        width: 100%;
    }

    .subFrame {
        margin-top: 1rem;
    }

    .subContent {
        flex-direction : column;
    }

    .subContent > * {
        margin-top:1rem;
        margin-left: 1rem;
    }

    .filterUI {
        margin-top:1.3rem;
    }

    .filterUI:first-child {
        margin-left: .7rem;
    }

    .filterWrapper {
        flex-direction: column;
        margin-top: 0 !important;
    }

    #albumInfos .imgContainer + div {
        margin-left : 0;
    }

    #albumInfos .hInfos > * {
        margin: 0 0.1rem;
    }

}

@media 
(-webkit-min-device-pixel-ratio: 2) and (max-aspect-ratio: 800/1000), 
(min-resolution: 192dpi) and (max-aspect-ratio: 800/1000) { 
    :root {
        font-size: calc(24px * 2);
    }
    #albumInfos #aImage {
        width : calc(250px * 2);
        height: calc(250px * 2);
    }
}

@media 
(-webkit-min-device-pixel-ratio: 3) and (max-aspect-ratio: 800/1000), 
(min-resolution: 288dpi) and (max-aspect-ratio: 800/1000) { 
    :root {
        font-size: calc(24px * 3);
    }
    #albumInfos #aImage {
        width : calc(250px * 3);
        height: calc(250px * 3);
    }
}





