 @media (orientation : portrait) {

    [data-cat]::before {
        text-align: left;
    }

    #wtnz-library .logo {
        display: none;
    }

    .subContent {
        flex-direction : column;
        padding: 1rem .75rem;
    }

    .filterUI {
        margin-top: 1.3rem;
    }

    .filterUI:first-child {
        margin-top: .5rem;
    }

    .filterWrapper {
        flex-direction: column;
    }

    #albumInfos .imgContainer + label {
        margin-left : 0;
    }

    #albumInfos .hInfos > * {
        margin: 0 .5rem;
    }

    .sorter {
        left: 8rem;
        top: 1.4rem;
    }    
}

@media (orientation : landscape) {

    .filterUI:first-child {
        margin-left: 0rem;
    }
}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi){ 
    :root {
        font-size: 18px;
    }

    #banner-side i {
        font-size: 1.3rem;
    }

    #banner-desc {
        font-size: 1rem;
    }

    #banner {
        padding-top : .75rem; 
        padding-bottom : .75rem;
    }

}

