
#dlContainer {
    margin:.5rem; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

.companionAppDownloadExplain {
    display: flex;
    flex-direction: column;
    color: #515151;
    background-color: white;
    padding: 0.25em 0;
    transition: opacity .2s;
}

.companionAppDownloadExplain:hover {
    opacity: .8;
}

#dlContainer > a {
    background-repeat: no-repeat;
    background-position: center;
    height: 3rem;
    width: 3rem;
    background-size: 60%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}

#dlContainer > a::after{
    content: "";
    background-image: url(/public/images/arrdown.svg);
    background-size: 27%;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    height: 100%;
    left: 20%;
    top: 22%;
    position: absolute;
    right: 0;
    z-index: 20;
    opacity: .8;
}

#dlContainer > a:hover, #dlContainer > a:hover::after {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pulse;
}

#dlContainer > a.win {background-image: url(/public/images/os/win.svg);}
#dlContainer > a.osx {background-image: url(/public/images/os/osx.svg); background-position-y: 40%;}