
#ProfilePicEditor {
    align-self: center; 
    display: flex;
    transition: opacity .25s ease;
    box-shadow: 0px 1px 3px 0px;
     
    margin: 1rem;
}

#ProfilePicEditor .PPPicker {
    display: none;
}

#ProfilePicEditor:hover {
    opacity:.5;
    cursor: pointer;
}

#ProfilePicEditor .imgHolder {
    transition: all .5s ease;
    display: flex;
     
    top: 0;
    left: 0;
}

#ProfilePicEditor,
#ProfilePicEditor .imgHolder, 
#ProfilePicEditor .imgHolder > * {
    font-size: 3.5rem;
    width: 5rem;
    height: 5rem;
}

#ProfilePicEditor .imgHolder > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ProfilePicEditor .imgHolder img:not([src]) {
    opacity: 0;
}

#ProfilePicEditor,
#ProfilePicEditor .imgHolder img[src] {
    border-radius: 40%;
    background-color:#f3f3f3; 
}

#ProfilePicEditor .imgHolder img {
    position: absolute;
    overflow: hidden;
}

#ProfilePicEditor.uploading .imgHolder {
    opacity: 0;
}

#ProfilePicEditor.uploading {
    cursor: wait;
}

#ProfilePicEditor.uploading::after {
    background-image : url(/public/images/loader.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    content : "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}