footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: #dcdcdc;
    margin-bottom: .5rem;
    width: 100%;
}

footer > * { 
    display: flex;
    background-color : white;
    padding: .35rem;
    font-size: .65rem;
    height: 100%;
    align-items: center;
}

#credits {
    color : #525252;
    align-self: flex-end;
    margin-right: 5%;
}

#langs {
    align-self: flex-start;
    margin-left: 5%;
    padding: 0 .35rem;
}

#langs img {
    height: 1.3rem;
}


#langs > * {
    display: flex;
}

#langs > *:not(.unselected) img {
    border: 1px dashed #6a67bd57;
    padding : 0 .2rem;
}

#langs > *:not(:first-child) {
    margin-left: .5rem;
}


#credits a, #credits img {
    height: .75rem;
}