
.magnifik input[type="text"], input[type="password"], input[type="email"] {
    padding: .5rem;
    padding-top: 1.1rem;
    border-radius: 5px;
    border : 1px solid rgba(0, 0, 0, .05);
    font-size: .75rem;
    width: 100%;
}

.magnifik .descr {
    text-align: right;
    font-size: .75rem;
}

.magnifik::after {
    content : attr(placeholder);
    position: absolute;
    font-size: .55rem;
    top: .25rem;
    right: .25rem;
    color: grey;
    transition: all .5s ease;
}


@keyframes autofill {
    to {
        background: rgba(255, 255, 255, .75);
    }
}

.magnifik input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.magnifik input {
    background: rgba(255, 255, 255, .75);
}