.popup {
    overflow: hidden;
    padding: 1rem 0;
    display: flex;
    max-height: 1000px;
    transition: all .5s ease;
    justify-content: center;
    cursor: pointer;
}

.popup.hide {
    max-height: 0px; 
    padding: 0px; 
}

.popup.hide > .content {
    background-color:transparent;
    color: transparent;
    border-color: transparent;
}

.popup > .content {
    transition: all .5s ease;
    padding: 1rem;
    border: 5px dashed rgba(255,255,255,0.25);
    max-width:75%;
    background-color:#f10000;
    color: #ebebeb;
    user-select: none;
}

.popup> .content::after {
    content: "\01F5D9";
    position: absolute;
    top: .25rem;
    right: .5rem;
}