
@keyframes Gradient {
	0% {
		transform: translateX(25%) translateY(25%);
	}
	50% {
        transform: translateX(-25%) translateY(-25%);
	}
	100% {
        transform: translateX(25%) translateY(25%);
	}
}

.wAnim {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -50;
    margin : 0 !important;
}

/*pause animations to prevent useless CPU consumption*/
main > *:not(.focused) .wAnim,
main > *:not(.focused) .animTimeline {
    animation-play-state: paused;
}

.wAnim::after {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-repeat: repeat;
    animation: Gradient 60s ease-in infinite;
    animation-fill-mode: both;
    position: absolute;
    content: "";
    width: 400%;
    height: 400%;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    animation-play-state: running;
}